<template>

  <div>

    <header>
      <div class="header-wrapper">

        <a href="/">
          <div class="logo"></div>
        </a>

        <div class="menu">

          <h1>Институт Информационных Наук и Технологий Безопасности</h1>
          <h1 class="mobile-title">ИИНТБ</h1>

          <nav class="main">
            <ul>
              <div class="wrap-nav" />

              <li>
                <a href="/about">Об институте</a>
              </li>

              <li>
                <a href="/education">Образование</a>
              </li>


              <li>
                <a href="/applicants">Поступающим</a>
              </li>


              <li>
                <a href="/students">Студентам</a>
              </li>


              <li>
                <a href="/science">Наука</a>
              </li>
              
              <li>
                <a href="/news/posts">Информация</a>
              </li>
              
            </ul>
          </nav>

          <div class="unwrap-nav"></div>

        </div>

      </div>
    </header>
    <Nuxt/>
  </div>
</template>
